/venv/
/.idea/
/images_remove_bg/
/Learn_OpenCV/
/dataset_images/
/images_remove_bg/
/images_remove_bg_1/
/images_remove_bg_2/
/masks/
/TestImages/
/Notes.md
/BigFootBackupForMasks/!/models/ac76a274-f48f-4086-83a0-86afa6fc0b02.pt
!/models/trainyolo-yolov8-keypoints.ipynb
!/models/ValSegmentFootU-net.ipynb
!/OpenCVMethods/000112.png
