{% extends "base.html" %}

{% block title %}
О нас
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center" style="font-size: 28px; color: #333;">О нас</h1>

    <h2 class="text-center" style="font-size: 24px; color: #444;">История проекта</h2>
    <p class="text-center my-4" style="font-size: 18px; color: #666;">
        Данное веб-приложение является дополнением к выпускной квалификационной работе (ВКР) на тему «Определение плоско-вальгусной деформации стопы методами машинного обучения».
    </p>

    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center" style="font-size: 24px; color: #444;">Участники проекта</h2>
            <ul class="list-unstyled text-center my-4" style="font-size: 18px; color: #666;">
                <li><strong>Недопекин А. Е.</strong> - руководитель ВКР, доцент, доцент кафедры прикладной математики и информатики, кандидат физико-математических наук.</li>
                <li><strong>Жилин В. В.</strong> - исполнитель, магистрант МарГУ, ФМФ, группа СЛ-23.</li>
                <li><strong>Назаров Ю. И.</strong> - консультант, врач, мануальный терапевт, рефлексотерапевт, ортопед.</li>
            </ul>
        </div>

        <div class="col-md-6">
            <h2 class="text-center" style="font-size: 24px; color: #444;">Благодарности</h2>
            <ul class="list-unstyled text-center my-4" style="font-size: 18px; color: #666;">
                <li>Благодарности за предоставленные данные: медицинский центр Тохо-Мед (г. Йошкар-Ола, ул. Прохорова 14б), лицей №18 (г. Йошкар-Ола) ученикам 5, 6, 7 класса.</li>
                <li>Благодарности за консультацию: Недопекину А. Е., Назарову Ю. И., Кондратенко И. Б.</li>
            </ul>
        </div>
    </div>

    <h2 class="text-center" style="font-size: 24px; color: #444;">Контакты</h2>
    <p class="text-center my-4" style="font-size: 18px; color: #666;">
        Если у вас есть вопросы или предложения, пожалуйста, свяжитесь с нами. Мы всегда рады обратной связи и готовы помочь вам.
    </p>
    <div class="text-center my-2">
        <a href="mailto:zhilin.valentin2016@yandex.ru" class="btn btn-primary">Связаться с нами</a>
    </div>
</div>
{% endblock %}
